/* * {
    outline: 1px solid red;
} */
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  font-family: "PlayfairDisplay-Regular", "AdobeInvisFont", "MyriadPro-Regular";
  font-size: 14px;
  color: #626262;
  line-height: 21px;
}
.container {
  width: 937px;
  margin: 0 auto;
}

.page__nav {
  padding: 45px 0;
}

.site__navigation {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
.site__navigation li {
  display: inline-block;
}
.site__navigation li:not(:last-child) {
  margin-right: 70px;
}
.site__navigation a {
  text-transform: uppercase;
  text-decoration: none;
  line-height: 11px;
  color: #626262;
}

.site__navigation a:hover,
.site__navigation a:focus {
  color: #03a9f4;
}
.page__article {
  display: inline-block;
}

.page__main {
  width: 424px;
  margin-top: 20px;
  margin-left: 26px;
  /* margin-right: 14px;
  */
}
.page__article:not(:nth-child(even)) {
  margin-right: 14px;
}
h3 {
  text-transform: uppercase;
  font-weight: 100;
  color: #b4ad9e;
}
button {
  width: 165px;
  height: 60px;
}
.button {
  text-align: center;
  margin: 40px 0 53px;
}
